$main-color:          #ffffff;
$main-color-dark:     #fafafa;
$second-color:        #69b073;
$second-color-light:  #a2cea9;
$warning-color:       #FDC05D;

$gray-light:          #F2F2F2;
$gray-dark:           #31341e;

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
$screen-xl:           1920px;


$primary-color:       orange;
$selection-color:     red;
$passive-color:       #eee;
$divider-color:       grey;
$today:               yellow;
