.btn {

  margin: auto;
  padding: 8px 28px;
  box-sizing: border-box;

  width: 195px;
  height: 60px;

  font-family: $font-family-second;
  font-size: $font-size;
  line-height: 2.75;

  color: $main-color;

  &--primary {

    text-decoration: none;

    box-shadow: 0 2px 8px 0 rgba(183, 183, 183, 0.5);
    background-color: $second-color;

  }

  &--secondary {
    text-decoration: none;

  }

}
