.btn {
  padding: 0;
  margin: 0;
  color: $main-color;
  border: 0;
  box-shadow: none;
  background-color: #69b073;
  box-shadow: 0 2px 8px 0 rgba(183, 183, 183, 0.5);
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0 27px;
  font-size: 16px;
  color: #ffffff;

  font-family: $font-family-second;
  font-size: $font-size - 2;


  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:active {
    text-decoration: none;
    color: #fff;
  }

  &:focus {
    outline: 0;
  }

  &--secondary {
    background-color: transparent;
    color: #180000;
    box-shadow: none;


    &:hover {
      color: #180000;
    }
  }

}
