.btn {
  display: block;

  width: 195px;
  height: 60px;


  &--primary {

    text-decoration: none;

    box-shadow: 0 2px 8px 0 rgba(183, 183, 183, 0.5);
    background-color: $second-color;

  }

  &--secondary {
    text-decoration: none;

  }

}
