.header {
  margin: auto;
  box-sizing: border-box;
  height: 165px;
  // box-shadow: 10px 0 13px 1px rgba(210, 210, 210, 0.5);

  &__info {
    height: 53px;
    background-color: $main-color-dark;

  }

  &__info-text {
    margin: auto;
    width: 90%;

    display: flex;
    justify-content: space-between;

    div {
      margin: 0 1%;

      font-family: $font-family-second;
      font-size: $font-size - 2px;

    }
  }

  &__inner {
    margin: auto;

    width: 90%;
    height: 109px;

    display: flex;
    justify-content: space-between;

    background-color: $main-color;
  }

  &__btn {
    margin-right: 1%;

  }
}

.logo {
  margin-left: 1%;

  img {
    width: 86px;
    height: 47px;
  }

}

.visually-hidden {
  display: none;
}

.nav {
  width: 70%;

  &__link {
    text-decoration: none;
  }

}

.nav-list {
  display: flex;
  justify-content: space-between;

  font-family: $font-family-second;
  font-size: $font-size;
  text-transform: lowercase;

  &__item {

    display: inline-block;
    list-style-type: none;

  }
}

