$main-color:          #ffffff;
$main-color-dark:     #fafafa;
$second-color:        #69b073;
$second-color-light:  #a2cea9;
$warning-color:       #FDC05D;

$gray-light:          #F2F2F2;
$gray-dark:           #4b4b4b;

$text-color:          $gray-dark;

$font-family-main:    'NotoSerif', serif;
$font-family-second:  'NotoSans', sans-serif;
$font-size:           16px;
$font-size-h1:        60px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
$screen-xl:           1920px;
$screen-main:         90%;

$margin-rl:           1%;


$primary-color:       orange;
$selection-color:     red;
$passive-color:       #eee;
$divider-color:       grey;
$today:               yellow;
